<launch>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find ropod_gazebo)/resources/:$(optenv GAZEBO_MODEL_PATH)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find ropod_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <arg name="world" default="brsu_ground_floor"/>
    
    <!-- Load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ropod_gazebo)/worlds/$(arg world).world"/>
    </include>

    <!-- Instantiate the robots -->
    <include file="$(find ropod_gazebo)/launch/spawn_multiple_robots.launch" />
</launch>
