<?xml version='1.0'?>
<launch>
    <!-- Based on the ROS answer https://answers.ros.org/question/41433/multiple-robots-simulation-and-navigation/?answer=41434#post-id-41434 -->
    <arg name="robot_id"/>
    <arg name="init_x" default="0.0"/>
    <arg name="init_y" default="0.0"/>
    <arg name="init_theta" default="0.0"/>
    <arg name="model" default="ropod"/>
    <arg name="model_path" default="$(find ropod_description)/xacro/$(arg model).xacro"/>

    <!-- Load the robot description from the urdf model -->
    <param name="robot_description" command="rosrun xacro xacro --inorder '$(arg model_path)' namespace:=$(arg robot_id)" />

    <!-- http://wiki.ros.org/joint_state_publisher -->
    <!--param name="value" command="rosrun xacro xacro '$(arg model)'" /-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="rate" value="10"/>
    </node>

    <!-- http://wiki.ros.org/robot_state_publisher/Tutorials/Using%20the%20robot%20state%20publisher%20on%20your%20own%20robot -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    </node>

    <!-- Spawn the robot using the arguments and robot description -->
    <node name="spawn_urdf_model" pkg="gazebo_ros" type="spawn_model" 
     args="-param robot_description  -urdf -x $(arg init_x) -y $(arg init_y) -z 0.0 -Y $(arg init_theta) -model $(arg robot_id)" />

</launch>
