<?xml version="1.0"?>

<model>
  <name>brsu_topological_map</name>
  <version>1.0</version>
  <sdf version="1.5">brsu_topological_map.sdf</sdf>

  <author>
    <name>Hasnainali Walli</name>
  </author>

  <description>
    BRSU Topological Map environment (Building A and C)
  </description>
</model>
